.container{
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    width: 30%;
    height: 75%;
    border-radius: 15px;
    margin-top: 70px;
    box-shadow: 10px 10px 10px rgba(5, 65, 65, 0.23);
}

body{
    background-color: rgba(24, 111, 111, 0.258);
}

.fom-box{
    align-self: center;
}

.text{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(5, 65, 65);
    position: relative;
}

form{
    color: rgb(5, 65, 65);
    font-weight: bolder;
}

input{
    justify-content: center;
    margin-bottom: 20px;
    width: 60%;
}



.btn{
    border-radius: 20px;
    width: 50%;
    display: flex;
    margin-left: 90px;
}