body{
    background-color: rgba(24, 111, 111, 0.153);
}

.image{
    margin-left: 500px;
    margin-top: 90px;
}

.navbar{
    background-color: rgba(24, 111, 111, 0.258);
}

.navbar a{
    color: rgb(5, 65, 65);
    font-style: italic;
    font-weight: 900;
}

.nav-link:hover{
    color:rgba(24, 111, 111, 0.258) ;
}

.dropdown-menu{
    background-color: rgba(24, 111, 111, 0.258);
}
